/* general setting */
body {
  margin: 5% auto;
  max-width: 1000px;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0.9;
  text-align: center;
}

.appDisplay {
  border: 1.5px solid rgba(182, 188, 195, 0.4);
  border-radius: 8px;
  box-shadow: 0px 15px 45px 10px rgba(0, 0, 0, 0.2);
  background: rgba(245, 245, 236, 0.5);
}

/* left-side block */
.left_block {
  background-image: url("../img/bkgrnd2.jpeg");
  border-radius: 8px;
  background-size: cover;
}

.navbg,
.locationBtn {
  background-color: rgba(225, 222, 222, 0.2);
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
}

.locationBtn {
  color: #fff;
  opacity: 0.7;
}

input::placeholder {
  color: rgb(223, 219, 219);
  opacity: 0.7;
}

section {
  margin-top: 70px;
  opacity: 0.8;
}

p,
.date {
  color: #fff;
  letter-spacing: 2px;
  font-size: 16px;
}

p {
  font-weight: 600;
}
h1 {
  font-weight: 700;
  font-size: 50px;
}
.date {
  margin-top: 110px;
}

/* right-side block */

.right_block {
  opacity: 0.9;
}

h2,
.gitlink {
  text-align: left;
}
h2 {
  font-size: 35px;
  margin: 0;
}

.today-header {
  display: inline;
}
.units {
  margin: 0px 0;
}

a {
  text-decoration: none;
}
.units a {
  padding: 5px 10px;
  font-size: 23px;
  border: 0.5px solid grey;
  border-radius: 10px;
  background-color: rgba(225, 222, 222, 0.2);
  color: #296c8e;
}

.forecast-header {
  margin-top: 10px;
}

.verticalLine {
  border-right: 0.9px solid rgba(182, 188, 195, 0.4);
}

.weatherDisplay {
  /* margin-top: 10px; */
  background: transparent;
  border: 0px solid rgba(182, 188, 195, 0.4);
  box-shadow: 0px 5px 10px 2px rgba(183, 182, 182, 0.2);
}

.currentWeather {
  margin: 0 auto;
}

.temperature {
  font-size: 68px;
  font-weight: 600;
  opacity: 0.9;
}
.currentUnit {
  font-size: 24px;
  position: relative;
  top: -30px;
}

.icon-today {
  position: relative;
  top: -18px;
}
@media screen and (max-width: 765px) {
  .temperature {
    font-size: 50px;
  }
  .currentUnit {
    font-size: 18px;
    position: relative;
    top: -22px;
  }
  .icon-today {
    width: 80px;
    position: relative;
    top: -13px;
  }
}

@media screen and (max-width: 450px) {
  .temperature {
    font-size: 45px;
  }
  .currentUnit {
    font-size: 18px;
    position: relative;
    top: -18px;
  }
  .icon-today {
    width: 70px;
    position: relative;
    top: -10px;
  }
  .high-low {
    margin-top: 25%;
  }

  .conditions-list {
    font-size: 12px;
  }
}

.high-low {
  font-size: 16px;
  letter-spacing: 2px;
}

.high {
  padding-right: 15px;
}

.conditions-list {
  margin: 0 auto;
  padding-left: 15px;
  list-style: none;
  font-size: 16px;
  line-height: 29px;
}

.condition {
  text-align: left;
}

.gitlink {
  font-size: 14px;
}
a .gitlink {
  color: rgb(41, 108, 142);
  opacity: 0.8;
}

.units .active {
  cursor: default;
  color: rgb(0, 0, 0);
  opacity: 0.7;
  background-color: rgba(41, 108, 142, 0.2);
  border-color: rgb(41, 108, 142);
}

.forecast-card {
  padding: 5px;
}

.week-day {
  font-size: 20px;
  font-weight: 600;
}
.temp-forecast {
  font-size: 18px;
}

.weekday {
  padding: 0;
}
